*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    /* display: none; */
    height: 100vh;
    width: 100vw;
    position: relative;
}
nav{
    width: 84%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
}
#icon{
    width: 30px;
}

.search-container{
    position: relative;
    height: 40px;
    width: 45%;
}
.search-container input{
    padding: 10px 40px 10px 40px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-icon{
    position: absolute;
    left: 10px;
    top: 12px;
}
.main-container span{
    font-size:18px;
}
.main-container button{
   padding: 8px;
   background-color: rgb(248, 68, 100);
   color: white;
   border: none;
   border-radius:5px;
   padding-left: 15px;
   padding-right: 15px;
}
.main-container button:hover{
    background-color: rgb(238, 49, 78);
}
.under-nav{
    position: relative;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 95%);
}
.list-one{
    font-size: 18px;
    position: absolute;
    left: 8%;
    list-style: none;
    display: flex;
    gap: 20px;
}
.list-two{
    font-size: 18px;
    position: absolute;
    left: 70%;
    list-style: none;
    display: flex;
    gap: 20px;
}
.movies-container {
    width: 84%;
    margin: auto;
    margin-top:1rem ;
    padding: 15px 0;
}
.movies-container-header{
    display: flex;
    justify-content: space-between;
}
.movies-container-header p{
    color: rgb(248, 68, 100);
}
.movies-container-header i{
    font-size:10px ;
}
.images{
    width:100% ;
    display: flex;
    justify-content: space-between;
    margin-top:0.5rem ;
}
.img1{
    width: 250px;
    height: 380px;
    border-radius: 10px;
   
}
.images h2{
    margin-top: 10px;
}
.images p{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    color: rgb(102, 102, 102);
}
.slide{
    position: absolute;
    left: 90.5%;
    top: 48%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center;
}
.slide i{
    font-size: 25px;
    margin-top: 10px;
   color: white;
}
.stream-poster{
    width: 84%;
    margin: auto;
   padding: 20px;
   margin-top: 5%;
}
.stream-image{
    width:100%;
    margin: auto;
}
.varity-shows{
  width: 100%;
  margin: auto;
  padding: 15px 0;
  margin-top: 40px;
}
.varity-shows h2{
   margin-left: 130px;
}
.shows-container{
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap:20px;
}
.shows-img{
    margin-top: 10px;
    width: 260px;
    height: 250px;
    border-radius: 10px;
}
.varity-shows-slide{
    position:absolute;
    left: 90.5%;
    top: 138%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center;
}
.varity-shows-slide i{
    font-size: 25px;
    margin-top: 10px;
   color: white;
}
.premier-container{
    position: relative;
    width:100%;
    margin: auto;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #2b3148;
}
.premier-container img{
    width: 84%;
    margin: auto;
}
#single-image{
    width: 84%;
    margin: auto;
}
.premier-and-seemore{
    margin: auto;
    padding: 20px 0;
    width: 84%;
    display: flex;
    justify-content: space-between;
}
.premier-container-image{
    margin: auto;
    padding: 20px 0;
    width: 84%;
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
}
.premier-container-image h2,p{
    color: white;
    margin-top: 10px;
    
}
.premier-container-image h2{
    margin-top: 15px;
    
}
.premier-container-image h2{
  font-size: 20px;
}
.images{
    border-radius: 10px;
}
.premier-heading{
    color: white;
}
.premier-heading p{
    font-size: 20px;
}
.para {
    color:rgb(248, 68, 100); 
    align-items: center;
}
.premier-and-seemore p i{
   font-size: 10px;
   align-items: center;
}
.Premier-slideshow{
    position:absolute;
    left: 90.5%;
    top: 55%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center;
}
.Premier-slideshow i{
    font-size: 25px;
    margin-top: 10px;
   color: white;
}
.Music-studio-container{
    width: 84%;
    margin: auto;
    margin-top: 40px;
}
.music-studio-musici-images{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.music-studio-img1 p{
    font-size: 16px;
  }
.music-studio-img1 h2 {
  font-size: 22px;
}
#paragraph{
    color: #666666;
}
.Music-studio-container-heading{
    display: flex;
    justify-content: space-between;
}
.Music-studio-container-heading h2{
    color: #333333;
    font-size: 30px;
}
.Music-studio-container-heading p{
    color:rgb(248, 68, 100); 
    text-align: center;
    font-weight:bold ;
}
.Music-studio-container-heading p i{
    font-size:10px;
}
#personal{
    border-radius: 10px;
}
.Music-slideshow{
    position:absolute;
    left: 90.5%;
    top: 280%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center; 
}
.Music-slideshow i{
    font-size: 25px;
    margin-top: 10px;
    color: white;
}
/* .outdoor-slide{
    position:absolute;
    left: 90.5%;
    top: 280%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center; 
}
.outdoor-slide i{
    font-size: 25px;
    margin-top: 10px;
    color: white;
} */

.Music-slideshow1{
    position:absolute;
    left: 90.5%;
    top: 350%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center; 
}
.Music-slideshow1 i{
    font-size: 25px;
    margin-top: 10px;
    color: white;
}

.Music-slideshow2{
    position:absolute;
    left: 90.5%;
    top: 413%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center; 
}
.Music-slideshow2 i{
    font-size: 25px;
    margin-top: 10px;
    color: white;
}
.Music-slideshow3{
    position:absolute;
    left: 90.5%;
    top: 477%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center; 
}
.Music-slideshow3 i{
    font-size: 25px;
    margin-top: 10px;
    color: white;
}
.Music-slideshow4{
    position:absolute;
    left: 90.5%;
    top: 540%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center; 
}
.Music-slideshow4 i{
    font-size: 25px;
    margin-top: 10px;
    color: white;
}
.Music-slideshow5{
    position:absolute;
    left: 90.5%;
    top: 604%;
    height: 50px;
    width: 50px;
    background-color: #999999;
    border-radius: 50%;
    text-align: center; 
}
.Music-slideshow5 i{
    font-size: 25px;
    margin-top: 10px;
    color: white;
}

.Trending-container{
    width: 84%;
    margin: auto;
}
.Trending-container h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.trending-collection{
    display:flex;
    flex-direction: column;
   gap: 10px;
   margin-top: 20px;
}

.div1{
    display: flex;
    gap: 20px;
}
.div2{
    margin: 10px;
    display:flex ;
    gap: 20px;
}
.heading-para{
    background-color:hsl(0, 0%, 95%);
   padding: 14px 45px 12px 16px;
}
.heading-para h2{
    color: #F84464;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
.heading-para p{
    color: #666666;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    background-color:#333333;
    padding: 15px;
}
.upper-section{
    position: relative;
    width: 84%;
    background-color:#333333;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.upper-section img{
   height: 49px;
   width: 49px;
}
.upper-section h2{
    position: absolute;
    margin-top: 10px;
    left: 5%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}
.upper-section p{
    position: absolute;
    left: 18%;
    font-size: 16px;
    color: #fff;
    font-family: sans-serif;
}
.upper-section button{
    font-size:16px;
    font-family: sans-serif;
    padding: 10px 20px;
    background-color: #EC5E71;
}
.lower-section{
    width: 84%;
    margin: auto;
}
.lower-section p{
    font-family: sans-serif;
   padding:0px 0px 20px ;
   font-size: 12px;
   color:#A5A5A5 ;
   cursor: pointer;
}
#lower-section-para{
    font-family: sans-serif;
    padding:0px 0px 20px ;
    font-size: 11px;
    color:#A5A5A5 ;
    cursor: pointer;
}
.lower-section-divs{
    margin-right: 20px;
    padding:25px 0px 0px;
}
#lower-section-para:hover{
    color: white;
    cursor: pointer;
}
.boder{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.boder1{
    width: 45%;
    border: 1px solid #5D5D5F;
}
.boder2{
    width: 44%;
    border: 1px solid #5D5D5F;
}
.footer-image{
    position: absolute;
    left: 47%;
    top: 856%;
}
.social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap:20px;
}
#apps{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    background-color: #5D5D5F;
}
#apps:hover{
    background-color: white;
}
a i{
    color:#333333;
}
.click-modal{
    width: 60%;
    position: relative;
    margin: auto;
}

.modal-upper {
}
.modal-upper input{
    width: 100%;
    height: 40px;
}
.modal-upper input::placeholder{
    
}